<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assessment.mapper.AssessmentOptionMapper">
    
    <resultMap type="AssessmentOption" id="AssessmentOptionResult">
        <result property="id"    column="id"    />
        <result property="optionContent"    column="option_content"    />
        <result property="score"    column="score"    />
        <result property="questionId"    column="question_id"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssessmentOptionVo">
        select id, option_content, score, question_id, sort_order, del_flag, create_by, create_time, update_by, update_time from assessment_option
    </sql>

    <select id="selectAssessmentOptionList" parameterType="AssessmentOption" resultMap="AssessmentOptionResult">
        <include refid="selectAssessmentOptionVo"/>
        <where>  
            <if test="optionContent != null  and optionContent != ''"> and option_content like concat('%', #{optionContent}, '%')</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectAssessmentOptionById" parameterType="Long" resultMap="AssessmentOptionResult">
        <include refid="selectAssessmentOptionVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssessmentOption" parameterType="AssessmentOption" useGeneratedKeys="true" keyProperty="id">
        insert into assessment_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="optionContent != null and optionContent != ''">option_content,</if>
            <if test="score != null">score,</if>
            <if test="questionId != null">question_id,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="optionContent != null and optionContent != ''">#{optionContent},</if>
            <if test="score != null">#{score},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssessmentOption" parameterType="AssessmentOption">
        update assessment_option
        <trim prefix="SET" suffixOverrides=",">
            <if test="optionContent != null and optionContent != ''">option_content = #{optionContent},</if>
            <if test="score != null">score = #{score},</if>
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssessmentOptionById" parameterType="Long">
        delete from assessment_option where id = #{id}
    </delete>

    <delete id="deleteAssessmentOptionByIds" parameterType="String">
        delete from assessment_option where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>