<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.content.mapper.FmMapper">
    
    <resultMap type="Fm" id="FmResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="fmCategoryId"    column="fm_category_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFmVo">
        select id, title, thumbnail, fm_category_id, del_flag, create_by, create_time, update_by, update_time from fm
    </sql>

    <select id="selectFmList" parameterType="Fm" resultMap="FmResult">
        <include refid="selectFmVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="fmCategoryId != null "> and fm_category_id = #{fmCategoryId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectFmById" parameterType="Long" resultMap="FmResult">
        <include refid="selectFmVo"/>
        where id = #{id}
    </select>

    <insert id="insertFm" parameterType="Fm" useGeneratedKeys="true" keyProperty="id">
        insert into fm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="fmCategoryId != null">fm_category_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="fmCategoryId != null">#{fmCategoryId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFm" parameterType="Fm">
        update fm
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="fmCategoryId != null">fm_category_id = #{fmCategoryId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFmById" parameterType="Long">
        delete from fm where id = #{id}
    </delete>

    <delete id="deleteFmByIds" parameterType="String">
        delete from fm where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>