<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.content.mapper.PsychologyKnowledgeMapper">
    
    <resultMap type="PsychologyKnowledge" id="PsychologyKnowledgeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="intro"    column="intro"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="content"    column="content"    />
        <result property="mentorId"    column="mentor_id"    />
        <result property="readCount"    column="read_count"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPsychologyKnowledgeVo">
        select id, title, intro, thumbnail, content, mentor_id, read_count, del_flag, create_by, create_time, update_by, update_time from psychology_knowledge
    </sql>

    <select id="selectPsychologyKnowledgeList" parameterType="PsychologyKnowledge" resultMap="PsychologyKnowledgeResult">
        <include refid="selectPsychologyKnowledgeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="mentorId != null "> and mentor_id like concat('%', #{mentorId}, '%')</if>
            <if test="readCount != null "> and read_count &gt;= #{readCount}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectPsychologyKnowledgeById" parameterType="Long" resultMap="PsychologyKnowledgeResult">
        <include refid="selectPsychologyKnowledgeVo"/>
        where id = #{id}
    </select>

    <insert id="insertPsychologyKnowledge" parameterType="PsychologyKnowledge" useGeneratedKeys="true" keyProperty="id">
        insert into psychology_knowledge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="intro != null">intro,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="content != null">content,</if>
            <if test="mentorId != null">mentor_id,</if>
            <if test="readCount != null">read_count,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="intro != null">#{intro},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="content != null">#{content},</if>
            <if test="mentorId != null">#{mentorId},</if>
            <if test="readCount != null">#{readCount},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePsychologyKnowledge" parameterType="PsychologyKnowledge">
        update psychology_knowledge
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="content != null">content = #{content},</if>
            <if test="mentorId != null">mentor_id = #{mentorId},</if>
            <if test="readCount != null">read_count = #{readCount},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsychologyKnowledgeById" parameterType="Long">
        delete from psychology_knowledge where id = #{id}
    </delete>

    <delete id="deletePsychologyKnowledgeByIds" parameterType="String">
        delete from psychology_knowledge where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>