<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assessment.mapper.AssessmentResultMapper">
    
    <resultMap type="AssessmentResult" id="AssessmentResultResult">
        <result property="id"    column="id"    />
        <result property="score"    column="score"    />
        <result property="resultContent"    column="result_content"    />
        <result property="assessmentId"    column="assessment_id"    />
        <result property="userId"    column="user_id"    />
        <result property="assessmentTime"    column="assessment_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssessmentResultVo">
        select id, score, result_content, assessment_id, user_id, assessment_time, del_flag, create_by, create_time, update_by, update_time from assessment_result
    </sql>

    <select id="selectAssessmentResultList" parameterType="AssessmentResult" resultMap="AssessmentResultResult">
        <include refid="selectAssessmentResultVo"/>
        <where>  
            <if test="score != null "> and score = #{score}</if>
            <if test="resultContent != null  and resultContent != ''"> and result_content = #{resultContent}</if>
            <if test="assessmentId != null "> and assessment_id = #{assessmentId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="params.beginAssessmentTime != null and params.beginAssessmentTime != '' and params.endAssessmentTime != null and params.endAssessmentTime != ''"> and assessment_time between #{params.beginAssessmentTime} and #{params.endAssessmentTime}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectAssessmentResultById" parameterType="Long" resultMap="AssessmentResultResult">
        <include refid="selectAssessmentResultVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssessmentResult" parameterType="AssessmentResult" useGeneratedKeys="true" keyProperty="id">
        insert into assessment_result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="score != null">score,</if>
            <if test="resultContent != null">result_content,</if>
            <if test="assessmentId != null">assessment_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="assessmentTime != null">assessment_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="score != null">#{score},</if>
            <if test="resultContent != null">#{resultContent},</if>
            <if test="assessmentId != null">#{assessmentId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="assessmentTime != null">#{assessmentTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssessmentResult" parameterType="AssessmentResult">
        update assessment_result
        <trim prefix="SET" suffixOverrides=",">
            <if test="score != null">score = #{score},</if>
            <if test="resultContent != null">result_content = #{resultContent},</if>
            <if test="assessmentId != null">assessment_id = #{assessmentId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="assessmentTime != null">assessment_time = #{assessmentTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssessmentResultById" parameterType="Long">
        delete from assessment_result where id = #{id}
    </delete>

    <delete id="deleteAssessmentResultByIds" parameterType="String">
        delete from assessment_result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>