<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assessment.mapper.AssessmentMapper">
    
    <resultMap type="Assessment" id="AssessmentResult">
        <result property="id"    column="id"    />
        <result property="assessmentName"    column="assessment_name"    />
        <result property="assessmentIntro"    column="assessment_intro"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="aboutAssessment"    column="about_assessment"    />
        <result property="whatYouGet"    column="what_you_get"    />
        <result property="suitableFor"    column="suitable_for"    />
        <result property="reference"    column="reference"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="discountPrice"    column="discount_price"    />
        <result property="categoryId"    column="category_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssessmentVo">
        select id, assessment_name, assessment_intro, thumbnail, about_assessment, what_you_get, suitable_for, reference, original_price, discount_price, category_id, del_flag, create_by, create_time, update_by, update_time from assessment
    </sql>

    <select id="selectAssessmentList" parameterType="Assessment" resultMap="AssessmentResult">
        <include refid="selectAssessmentVo"/>
        <where>  
            <if test="assessmentName != null  and assessmentName != ''"> and assessment_name like concat('%', #{assessmentName}, '%')</if>
            <if test="aboutAssessment != null  and aboutAssessment != ''"> and about_assessment = #{aboutAssessment}</if>
            <if test="suitableFor != null  and suitableFor != ''"> and suitable_for like concat('%', #{suitableFor}, '%')</if>
            <if test="originalPrice != null "> and original_price &gt;= #{originalPrice}</if>
            <if test="discountPrice != null "> and discount_price &gt;= #{discountPrice}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectAssessmentById" parameterType="Long" resultMap="AssessmentResult">
        <include refid="selectAssessmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssessment" parameterType="Assessment" useGeneratedKeys="true" keyProperty="id">
        insert into assessment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assessmentName != null and assessmentName != ''">assessment_name,</if>
            <if test="assessmentIntro != null">assessment_intro,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="aboutAssessment != null">about_assessment,</if>
            <if test="whatYouGet != null">what_you_get,</if>
            <if test="suitableFor != null">suitable_for,</if>
            <if test="reference != null">reference,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="discountPrice != null">discount_price,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assessmentName != null and assessmentName != ''">#{assessmentName},</if>
            <if test="assessmentIntro != null">#{assessmentIntro},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="aboutAssessment != null">#{aboutAssessment},</if>
            <if test="whatYouGet != null">#{whatYouGet},</if>
            <if test="suitableFor != null">#{suitableFor},</if>
            <if test="reference != null">#{reference},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="discountPrice != null">#{discountPrice},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssessment" parameterType="Assessment">
        update assessment
        <trim prefix="SET" suffixOverrides=",">
            <if test="assessmentName != null and assessmentName != ''">assessment_name = #{assessmentName},</if>
            <if test="assessmentIntro != null">assessment_intro = #{assessmentIntro},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="aboutAssessment != null">about_assessment = #{aboutAssessment},</if>
            <if test="whatYouGet != null">what_you_get = #{whatYouGet},</if>
            <if test="suitableFor != null">suitable_for = #{suitableFor},</if>
            <if test="reference != null">reference = #{reference},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="discountPrice != null">discount_price = #{discountPrice},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssessmentById" parameterType="Long">
        delete from assessment where id = #{id}
    </delete>

    <delete id="deleteAssessmentByIds" parameterType="String">
        delete from assessment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>