<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.assessment.mapper.AssessmentAnswerDetailMapper">
    
    <resultMap type="AssessmentAnswerDetail" id="AssessmentAnswerDetailResult">
        <result property="id"    column="id"    />
        <result property="resultId"    column="result_id"    />
        <result property="questionId"    column="question_id"    />
        <result property="optionId"    column="option_id"    />
        <result property="score"    column="score"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAssessmentAnswerDetailVo">
        select id, result_id, question_id, option_id, score, del_flag, create_by, create_time, update_by, update_time from assessment_answer_detail
    </sql>

    <select id="selectAssessmentAnswerDetailList" parameterType="AssessmentAnswerDetail" resultMap="AssessmentAnswerDetailResult">
        <include refid="selectAssessmentAnswerDetailVo"/>
        <where>  
            <if test="resultId != null "> and result_id = #{resultId}</if>
            <if test="questionId != null "> and question_id = #{questionId}</if>
            <if test="optionId != null "> and option_id = #{optionId}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by = #{updateBy}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectAssessmentAnswerDetailById" parameterType="Long" resultMap="AssessmentAnswerDetailResult">
        <include refid="selectAssessmentAnswerDetailVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssessmentAnswerDetail" parameterType="AssessmentAnswerDetail" useGeneratedKeys="true" keyProperty="id">
        insert into assessment_answer_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resultId != null">result_id,</if>
            <if test="questionId != null">question_id,</if>
            <if test="optionId != null">option_id,</if>
            <if test="score != null">score,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resultId != null">#{resultId},</if>
            <if test="questionId != null">#{questionId},</if>
            <if test="optionId != null">#{optionId},</if>
            <if test="score != null">#{score},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAssessmentAnswerDetail" parameterType="AssessmentAnswerDetail">
        update assessment_answer_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="resultId != null">result_id = #{resultId},</if>
            <if test="questionId != null">question_id = #{questionId},</if>
            <if test="optionId != null">option_id = #{optionId},</if>
            <if test="score != null">score = #{score},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssessmentAnswerDetailById" parameterType="Long">
        delete from assessment_answer_detail where id = #{id}
    </delete>

    <delete id="deleteAssessmentAnswerDetailByIds" parameterType="String">
        delete from assessment_answer_detail where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>